* {
    margin: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 599px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.25rem;
    }

    p {
        font-size: 1rem;
    }

    a {
        font-size: 1rem;
    }
}

@media screen and (max-width: 1024px) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1.375rem;
    }

    p {
        font-size: 1rem;
    }

    a {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1025px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.25rem;
    }

    h3 {
        font-size: 1.875rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1.125rem;
    }

    a {
        font-size: 1.125rem;
    }
}

header {
    background-color: white;
    padding: 2rem;

    nav {
        img {
            max-width: 260px;
            width: 100%;
            height: auto;
        }
    }
}

.message-card {
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-rows: auto auto auto;
    row-gap: 1em;
    padding: 1.5em;
    border-radius: 20px;
    margin: 1em;
    border: 1px solid #E5E5E5;
    border-left: 4px solid #0FB08A;

    svg {
        grid-column: 1;
        grid-row: 1;
    }

    .description {
        grid-column: 2;
        grid-row: 2;
    }
}

.message-card-header {
    display: flex;
    /* wrap zorgt ervoor dat de elementen niet in 1 regel zitten, want de time element heeft width 100% */
    flex-wrap: wrap;
    align-items: center;
    grid-column: 2;
    grid-row: 1;

    span {
        background-color: #0FB08A;
        color: white;
        padding: .5em;
        border-radius: 20px;
        width: 4em;
        display: flex;
        justify-content: center;
        margin-left: 1em;
    }

    time {
        width: 100%;
    }
}

.message-card-footer {
    grid-column: 2;
    grid-row: 3;
    display: flex;
    flex-wrap: wrap;

    data {
        display: flex;
        align-items: center;
    }

    p {
        width: 100%;
    }
}